body {
    width: 1200px;
    height: 800px;
}

.last_news {
    position: relative;
    margin-top: 50px;
    float: left;
}

img {
    max-width: 100%;
}

.last_news .item .info p {
    color: darkslategrey;
    font-size: 14px;
    line-height: 26px;
    margin: 10px 0px;
}

.last_news .item .info a {
    color: dodgerblue;
    text-decoration: none;
}

.last_news .item .info:hover a {
    margin-left: 10px;
    transition: all 0.3s;
}

.last_news .item .info a {
    margin: 5px;
    transition: all 0.3s;
}

.last_news .item .image:hover .overlay {
    opacity: 0.5;
    transition: all 0.3s;
}

.last_news .item {
    text-align: center;
    box-shadow: 4px 4px 6px #cccc;
    margin: 0px 15px;
    border-radius: 10px;
    overflow: hidden;
    height: 450px;
}

.last_news .item .image {
    position: relative;
}

.last_news .item .image .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(206, 164, 223);
    opacity: 0;
    z-index: 1;
    transition: all 0.3s;
}

.last_news .item .image .date {
    line-height: 15px;
    position: absolute;
    top: 0;
    left: 20px;
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    padding: 7px;
    text-align: center;
    z-index: 1;
}

.last_news .item .info h2 {
    line-height: 30px;
}

.last_news .item .image .date span {
    color: white;
    font-weight: bold;
    display: block;
    margin: 5px;
}

.last_news .item .image .background {
    background: white;
    width: 59px;
    height: 61px;
    position: absolute;
    top: 1px;
    left: 22px;
    float: left;
}

.clearfix {
    clear: both;
}

[class*=col-] {
    float: left;
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333%;
}

.col-11 {
    width: 91.666%;
}

.col-12 {
    width: 100%;
}